* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body,
main {
  max-width: 100vw;
}
main section,
main.Topcontainer {
  max-width: 100%;
  overflow-x: hidden;
}

.slide {
  transition: transform 800ms ease;
}
.activeSlide {
  opacity: 1;
  transform: translate(0);
}
.nextSlide {
  opacity: 0;
  transform: translate(100%);
}
.lastSlide {
  transform: translate(-100%);
}

/* team-popup */
.poppage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 0.4s;
  padding: var(--pad-poppage) 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}

.poppage[class*='--fullpage'] {
  padding: 0;
}

.poppage[class*='--end'] {
  padding-bottom: 0;
  align-items: flex-end;
}

.poppage.display {
  visibility: visible;
  opacity: 1;
  z-index: 1400;
}
.poppage[class*='--end'].display .midpage {
  transform: translateY(0);
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.poppage[class*='--end'] .midpage {
  margin: 0;
  transform: translateY(300px);
  transition: transform 0.6s;
}

.poppage[class*='--fullpage'] .midpage {
  width: 100%;
  height: calc(100% - 30px);
  margin-bottom: 0;
}

.finalpage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: var(--rounded-normal);
}

.stopscroll {
  overflow: hidden;
}
