* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

main {
  overflow-x: hidden;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
}

p,
span {
  font-family: "Bebas Neue", sans-serif;
} */
